<div>
    <div>
        Conditions
        <button (click)="onAddConditionClick()">+ Add Conditions</button>
      </div>
      <br>
    <div *ngFor="let condition of GetConditions().controls; let i = index">
        <mat-form-field>
            <select matNativeControl required>
                <option *ngFor="let logicalOperator of GetLogicalOperators(i).controls;" value={logicalOperator.value.id}}>
                    {{logicalOperator.value.value}}
                </option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <select matNativeControl required>
                <option *ngFor="let columnName of GetColumnNames(i).controls;" value={columnName.value.id}}>
                    {{columnName.value.value}}
                </option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <select matNativeControl required>
                <option *ngFor="let arithmeticOperator of GetArithmeticOperators(i).controls;" value={arithmeticOperator.value.id}}>
                    {{arithmeticOperator.value.value}}
                </option>
            </select>
          </mat-form-field>

          <mat-form-field>
            <select matNativeControl required>
                <option *ngFor="let columnValue of GetColumnValues(i).controls;" value={columnValue.value.id}}>
                    {{columnValue.value.value}}
                </option>
            </select>
          </mat-form-field>

          <span>
            <button (click)="onDeleteConditionClick(i)">Delete</button>
          </span>
    </div>
</div>